* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.navbar {
  min-height: 10vh;
  background-color: rgb(42, 219, 219);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(194, 115, 18);
}

.active {
  color: gold;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(42, 219, 219);
}
